# Python 运行时缓存
__pycache__/
*.py[cod]
*$py.class

# Python 虚拟环境
venv/
.env/

# Jupyter Notebook 缓存（如有使用）
.ipynb_checkpoints

# 操作系统文件
.DS_Store
Thumbs.db

# 常见 IDE 配置
.vscode/
.idea/
*.swp

# Excel 临时文件
~$*
